#create{
    margin-top: 10rem;

}
#create h1{
    color: var(--color-primary-variant);
}
.container.createContainer{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;

}
.formElement{
    margin-top: 1rem;
}

/*form styling*/
form{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: var(--color-white);
}
