.cardItem{
    display: flex;
    gap: 1rem;
}

.cardContainer{
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}
.cardContainer>div {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 2.4rem 5rem;
    transition: var(--smoothTrans);
    width: 40%;
}
.cardContainer>div h3 {
    border-bottom: 4px solid var(--color-primary);
    color: var(--color-primary);
    margin-bottom: 2rem;
    text-align: center;
}
.mapContainer:hover {
    background: var(--color-bg);
    border-color: var(--color-primary-variant);
    cursor: default;
}
.cardContainer h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
    border-bottom: 4px solid var(--color-primary);

}
.cardContent {
    grid-row-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.cardItem {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
  /* other devices (phones) */
  
  @media screen and (max-width: 700px) {
    .cardContainer{
    gap: 7rem;
    }

  }