.cards{
    height: 110vh;
}
.cardItem{
    display: flex;
    gap: 1rem;
}

.cardContainer{
    grid-gap: 2rem;
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
}
.cardContainer>div {
    background-image: linear-gradient(var(--color-card), var(--color-card-gradient));
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 3px solid;
    border-color: var(--color-primary-variant);
    transition: var(--smoothTrans);
}
.cardContainer>div:hover {
    background: var(--color-bg-variant);
    border-color: var(--color-primary-variant);
    border: 5px solid;
    cursor: default;
}
.cardContainer>div h3 {
    border-bottom: 4px solid var(--color-primary-variant);
    color: var(--color-primary-variant);
    margin-bottom: 2rem;
    text-align: center;
}
.mapContainer:hover {
    background: var(--color-bg);
    border-color: var(--color-primary-variant);
    cursor: default;
}
.cardContainer h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
    border-bottom: 4px solid var(--color-primary);

}
.cardContent {
    grid-row-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.cardItem {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-top: 2rem;
    
}
.btn-card {
   height: 75px;
    width: 100px;
}
  /* tablets */
  @media screen and (max-width: 1200px) {
    .cardContainer{
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    margin-left: 1rem;
    }

  }
  /* other devices (phones) */
  
  @media screen and (max-width: 900px) {
    .cardContainer{
    gap: 5rem;
    grid-template-columns: 1fr;
    
    }
    .cardContainer>div{
        width:40%
    }


  }
